{{#if devoured}}
<div class="devoured">{{burger_name}}
    <button class="delete" data-id="{{this.id}}">Delete</button>
</div>

{{else}}
<div class="notdevoured">{{burger_name}}
    <button class="update" data-id="{{id}}">
    Devour
    </button>
    <button class="delete" data-id="{{this.id}}">Delete</button>
</div>


{{/if}}